<?xml version="1.0" encoding="UTF-8"?>

<beens>
    <annotation />
	<scan basepackage="org.sky.framework.common.utils" ></scan>
	
	<aop id="test1" ref="abc2">
		<pointcut id="first" expression="update*" />
		<before method="ttt" pointcutref="first"  />
		<after method="ttt2" pointcutref="first"  />
	</aop>
	
	<bean id="abc" class="org." scope="singe"></bean>
	
	<bean id="abc2" class="org.d" scope="singe">
		<property name="userDao" value="userDaod"></property>
	</bean>
</beens>
